.nav-item {
  margin-left: 25px;
}
.nav-item > :hover {
  color: #2e3bef;
}
.buyChallenge {
  width: 9rem;
  height: 2.5rem;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #2e3bef;
}
.buyChallenge:hover {
  color: white;
}
